<div>
    <h1>Productos</h1>
    <ul>
        {{#each products}}
        <h3>{{this.title}}</h3>
        <p>${{this.price}}</p>
        <p>{{this.description}}</p>
        <p>{{this.thumbnail}}</p>
        <p>stock: {{this.stock}}</p>
        {{/each}}
    </ul>
</div>